{% extends "base.html" %} {% block title %}Alterar senha{% endblock %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-sm border-0">
      <div class="card-body p-4">
        <h1 class="h5 mb-3">Alterar senha</h1>
        <form method="post" novalidate>
          {% csrf_token %} {{ form.non_field_errors }}
          <div class="mb-3">
            <label class="form-label" for="id_old_password">Senha atual</label>
            <input
              type="password"
              name="old_password"
              required
              id="id_old_password"
              class="form-control"
            />
            {{ form.old_password.errors }}
          </div>
          <div class="mb-3">
            <label class="form-label" for="id_new_password1">Nova senha</label>
            <input
              type="password"
              name="new_password1"
              required
              id="id_new_password1"
              class="form-control"
            />
            {{ form.new_password1.errors }}
          </div>
          <div class="mb-3">
            <label class="form-label" for="id_new_password2"
              >Confirme a nova senha</label
            >
            <input
              type="password"
              name="new_password2"
              required
              id="id_new_password2"
              class="form-control"
            />
            {{ form.new_password2.errors }}
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
